@model KP1.Models.WriteOff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WriteOff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.barcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
